<ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">
        <img alt='logo' class="header-logo" src="/assets/icon/favicon.png">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="height: 100%" *ngIf="!signUpFormVisible">
    <ion-grid *ngIf="isLoading" style="text-align: center;">
      <ion-row>
        <ion-col class="ion-padding">
          <ion-spinner></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="height: 100%;">
      <ion-row style="height: 100%;" class="ion-justify-content-center ion-align-items-center">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="!isLoading" id="loginForm">
           <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
            <div class="ion-padding">
              <ion-item>
                <ion-input name="user_id" type="text" placeholder="Username" ngModel required (keyup.enter)="onSubmit(form)"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Password" ngModel required (keyup.enter)="onSubmit(form)"></ion-input>
              </ion-item>
            </div>
           <div class="ion-padding">
              <ion-button size="large" type="submit" shape="round" expand="block">
                Login
              </ion-button>
            </div>
            <div style="text-align: center;">
              <ion-label class="password" (click)="remindPassword()">Register</ion-label>
            </div>
          </ion-col>
        </form> 
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer>
    <ion-toolbar class="ion-text-right">
      <ion-title class="ion-text-center">&copy; {{year | date:'yyy'}} Air Quality Panel
      </ion-title>
    </ion-toolbar>
  </ion-footer>